.venv/
.env
.vscode/
__pycache__/
*.pt
*.json
data/
data_large/
data_xl/
plots/
results_parts/
*.md
*.pth
*.csv
*.pyc
*.log
*.ipynb
*.ipynb_checkpoints/
*.flag
*.png
*.jpg
*.jpeg
*.pdf
*.ps1
.idea/
*.zip
*.docx